html{	

	background-image:url("images/UBP.png");
	background-attachment:fixed; 
	background-repeat:no-repeat;
	background-position:center center;
	background-size: cover;
	
	
}

#smiley{

	border:2px solid black;
	
	background-color: #000080;
	position:absolute;
	top:81%;
	left:2%;
	
	width:20%;
    height:3%;

}
#texte{
	border:2px solid black;
	
	background-color: #c0c0c0;
	position:absolute;
	top:20%;
	left:2%;
	
	width:70%;
    height:60%;
	
	border-radius: 10px;
	
	box-shadow:
	0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,
	0px 2px 2px 0px rgba(255, 255, 255, 0.5);	
	
	overflow: scroll;
	max-width: 100%;
	
	
}




#utilisateurs{
	border:2px solid black;
	
	background-color: #c0c0c0;
	
	position:absolute;
	top:20%;
	left:73%;
	
	width:20%;
    height:60%;
	
	border-radius: 10px;
	
	overflow:scroll;	
}

#saisie{
	border:2px solid black;
	
	background-color: #c0c0c0;
	
	position:absolute;
	top:85%;
	left:2%;
	
	width:70%;
    height:13%;
	
	
	overflow:scroll;	
}



	
	
/* -- Bouton envoyer -- */	
.boutonENV {

	position:absolute;
	top:85%;
	left:73%;
	
	height:6%;
	
	background: #000080;
	background: -webkit-linear-gradient( #C8C8C8, #A0A0A0);
	background: -moz-linear-gradient( #C8C8C8, #A0A0A0);
	background: -ms-linear-gradient( #C8C8C8, #A0A0A0);
	background: -o-linear-gradient( #C8C8C8, #A0A0A0);
	background: linear-gradient( #C8C8C8, #A0A0A0);
	}	
.boutonENV:hover {
	background: #D8D8D8;
	background: -webkit-linear-gradient( #D8D8D8, #B0B0B0); 
	background: -moz-linear-gradient( #D8D8D8, #B0B0B0); 
	background: -ms-linear-gradient( #D8D8D8, #B0B0B0); 
	background: -o-linear-gradient( #D8D8D8, #B0B0B0); 
	background: linear-gradient( #D8D8D8, #B0B0B0);
	}
.boutonENV:active{box-shadow: 1px 1px 10px #999 inset, 0 1px 0 rgba( 255, 255, 255, 0.4);}
	
.boutonENV{color:#000080; text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.4);}
.boutonENV:hover,  .boutonENV:active {color:#000080;}

#boutonDeconnexion{
	
	position:absolute;
	top:2%;
	left:2%;

}

/*----------------------------
	Ruban
-----------------------------*/

#fond {
position: relative;
margin: 0px auto;
width: 350px;
background: #AFAFAF;
border-radius: 5px;
box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
z-index: 10;
height:110px;
}
 
.ruban {
background: #000080;
height: 50px;
width: 380px;
position: relative;
left:-15px;
top: 30px;
float: left;
box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
z-index: 100;
}
 
.ruban h2 {
font-size: 25px;
color: #fff;
text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
text-align: center;
margin:10px;
}
 
.ruban_gauche {
border-color: transparent #89B0F4 transparent transparent;
border-style:solid;
border-width:15px;
height:0px;
width:0px;
position: relative;
left: -30px;
top: 65px;
z-index: -1;  /*s'affichera sous le rectangle  */
}
 
.ruban_droit {
border-color: transparent transparent transparent #89B0F4;
border-style:solid;
border-width:15px;
height:0px;
width:0px;
position: relative;
left: 350px;
top: 35px;
z-index: -1;
}


/*modifier l'apparence des scrollbars de tout le forum*/
::-webkit-scrollbar { 
  width: 5px; /*largeur de la scrollbar verticale*/
  height: 5px; /*hauteur de la scrollbar horizontale*/
  background-color: #000000;}

::-webkit-scrollbar-track { 
  background-color: #FFFFFF; /*couleur du fond de la scrollbar*/}

::-webkit-scrollbar-thumb { /*la petite bande qui monte/descend*/
  background-color: #000000 /*couleur de l'ascenseur*/;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;}